* {
  box-sizing: border-box;
}
.custom-container {
  padding: 0px !important;
}
.img-header-bg {
  max-width: 100%;
  width: 100%;
}

.parallax-one,
.parallax-two {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  max-width: 400px;
}
.content-container p {
  margin-right: 60px;
}
.spacer {
  padding-top: 40px;
}

@media only screen and (max-width: 480px) {
  .content-container p {
    margin: 10px;
    text-align: center;
  }
}

.parallax-one {
  /* The image used */
  background-image: url("../Assets/kiloren.jpg");
  /* Set a specific height */
  min-height: 500px;
}

.parallax-two {
  background-image: url("../Assets/stormtroopers.jpg");
  /* Set a specific height */
  min-height: 250px;
}
.footer {
  height: 250px;
  background-image: url("../Assets/darthvader_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-content span {
  text-decoration: underline;
}
.footer-box .span {
  text-decoration: underline;
}
.nav-item a {
  font-weight: bold;
}
.nav-item:not(:last-child) a {
  margin-right: 20px;
}
@media only screen and (max-width: 480px) {
  .footer-content {
    flex-direction: column;

    text-align: center;
  }
}
